[Unit]
Description=Presale Oracle

[Service]
WorkingDirectory=/opt
ExecStart=/opt/presale-oracle config.json
Restart=always

[Install]
WantedBy=multi-user.target
